<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413930215700-ijp1s6mko9b89q1dibh8sle5bqhmhujr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413930215700-ijp1s6mko9b89q1dibh8sle5bqhmhujr</string>
	<key>API_KEY</key>
	<string>AIzaSyAkOlhkzx7N7FWX9xKgwq1q-kLGG667dR0</string>
	<key>GCM_SENDER_ID</key>
	<string>413930215700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meetup</string>
	<key>PROJECT_ID</key>
	<string>meetup-fde43</string>
	<key>STORAGE_BUCKET</key>
	<string>meetup-fde43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413930215700:ios:9a05e3c231a39f07d94a01</string>
</dict>
</plist>